body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background: #222;
    padding: 12px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.card {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
}

.loader {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}